body {
  background-color: #000000;
}

.domain {
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "JujutsuKaisen";
  font-size: 17px;
  padding: 30px;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px,
    rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
}

.domain:hover {
  background-color: rgba(255, 0, 0, 1);
  transition: 0.7s;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@font-face {
  font-family: "JujutsuKaisen";
  src: url("Fonts/JujutsuKaisen.ttf") format("truetype");
}

.playAudioButtons {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.flex_container {
  display: flex;
  flex-direction: row;
}

button {
  background-image: linear-gradient(
    92.88deg,
    #b54545 9.16%,
    #ff2600 43.89%,
    #d73f3f 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "JujutsuKaisen";
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  width: 130px;
  margin: 5px;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: space-between;
}

button:hover {
  box-shadow: rgba(205, 63, 63, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button {
    padding: 0 2.6rem;
  }
}
